@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.gradient-underline {
  position: relative;
}

.gradient-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust underline position */
  width: 100%;
  height: 3px; /* underline thickness */
  background: linear-gradient(to top left, #9F62F2, #632EE3);
  border-radius: 2px;
}